/_resources_unused/
/_resources/
*-platzeins.*
*-platzeinsu.*
*Kopie von*
*
!LICENSE.html
!.gitignore
!README.md
!.prettierignore
!.prettierrc
!/_vorlagen
!/_vorlagen/atest_Vorlage.md
!/_vorlagen/One_Vorlage.md
!/_scripts
!/_scripts/foty.js
!/_scripts/jsdocconf.json
!/jsdocconf.js
!/_scripts/onne.js
!/_scripts/static
!/_scripts/static/styles
!/_scripts/static/styles/jsdoc-default.css


